@font-face {
    font-family: "My Custom Font";
    src: url(lettertype.ttf) format("truetype");
}
body
{
    margin:0;
}
canvas
{
    width: 1280px!important;
    height: 720px!important;
    margin: 0 auto;
    z-index:1;
    position: relative;
}
.honger
{
    width: 100px;
    height: 30px;
}
.plezier
{
    width: 100px;
    height: 30px;
}
.energie
{
    width: 100px;
    height: 30px;
}
.ball_btn
{
    width: 100px;
    height: 50px;
}
.eten1
{
    width: 100px;
    height: 50px;
}
.slapen
{
    width: 100px;
    height: 50px;
}
/*
.menu_obj
{
    visibility: hidden;
}
*/
p
{
    /*text-align: center;*/
    font-family: "My Custom Font", Verdana, Tahoma;
    font-size: 40px;
    color:white;
}
.menu
{
    width: 720px;
    height: 500px;
    background-color: rgba(100,100,100,0.9);
    position: absolute;
}
button
{
    /*
    display: block;
    margin: 0 auto;
    */
}
input
{
    /*
    display: block;
    margin: 0 auto;
    */
}

.hud
{
    width: 1280px!important;
    height: 720px!important;
    margin: 0 auto;
    position: absolute;
    z-index: 3;

    /*disable select stuff */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

}